node_modules/
lambda/node_modules/
lambda/bundle.js
lambda/bundle.cjs
lambda/bundle.mjs
.env
config.local.js
deploy/api-url-and-key.txt
deploy/.jwt_secret_once
deploy/aquarium-full.zip
deploy/aquarium-api.zip
deploy/.deploy_output.txt

# Local duplicate copies created by browser/editor save-as actions.
*\ [0-9]*.html
lambda/*\ [0-9]*.mjs
